# dependencies
node_modules/
**/node_modules/

# build / cache
.next/
*.tsbuildinfo

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision
/ios
/android

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# env
.env
.env.local
.env.*.local
!.env.example

# OS
.DS_Store
**/.DS_Store

# supabase
supabase/.temp/
supabase/.branches/
supabase/migrations_backup_*/
